flask
fastapi
uvicorn
passlib
PyJWT
blinker
click
itsdangerous
jinja2
markupsafe
werkzeug
starlette
pydantic
typing-extensions
annotated-types
anyio
idna
sniffio
typing-inspection
h11
python-multipart

